.home {
  width: 100%;
  min-height: 100vh;
  padding: 100px 0;

  display: grid;
  grid-template-rows: repeat(2, 250px);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.home img {
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}

.home h2 {
  color: var(--color-text);
}

.home p {
  color: var(--color-text-secondary);
}

.card {
  background-color: white;
  border: solid 2px var(--color-bg-secondary);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.3);
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.welcome > h2 {
  font-size: 48px;
}

.welcome > p {
  font-size: 20px;
  margin-bottom: 30px;
}

.welcome > button {
  height: 50px;
  width: 150px;

  border: none;
  border-radius: 10px;
  padding: 5px;
  color: white;
  font-size: 18px;
  background-color: var(--color-bg-secondary);
  transition: transform ease-in 0.2s;
}

.welcome > button:hover {
  transform: scale(1.2);
}

.freeShipping > h2 {
  font-size: 32px;
  color: var(--color-text);
  margin-bottom: 5px;
}

.secureCheckout > p {
  font-size: 16px;
}

.secureCheckout > h2 {
  font-size: 32px;
  color: var(--color-text);
  margin-bottom: 5px;
}

.freeShipping > p {
  font-size: 16px;
}

.qualityProducts > h2 {
  font-size: 24px;
  animation: bubble 1s ease-in-out infinite alternate;
}

@keyframes bubble {
  from {
    transform: scale(1);
    color: var(--color-text);
  }
  to {
    color: rgba(255, 0, 0, 0.507);
    transform: scale(1.2);
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .freeShipping > h2 {
    font-size: 20px;
  }

  .secureCheckout > p {
    font-size: 16px;
  }

  .secureCheckout > h2 {
    font-size: 20px;
  }
  .freeShipping > p {
    font-size: 16px;
  }

  .qualityProducts > h2 {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .home {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .welcome > h2 {
    font-size: 32px;
  }

  .welcome > p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .freeShipping > h2 {
    font-size: 20px;
  }

  .secureCheckout > p {
    font-size: 16px;
  }

  .secureCheckout > h2 {
    font-size: 20px;
  }
  .freeShipping > p {
    font-size: 16px;
  }

  .qualityProducts > h2 {
    font-size: 18px;
  }
}
