.shop {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.shop > h2 {
    font-size: 42px;
    margin-top: 20px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;
}

@media  (min-width: 600px) and (max-width: 1200px) {
.products {
    grid-template-columns: repeat(2, 280px);
}

}


@media (max-width: 600px) {
.products {
    grid-template-columns: repeat(1, 280px);
}
}