:root {
  /* Backgrounds */
  --color-bg: #f5f7fa; /* Main background */
  --color-bg-secondary: #155dfb;

  /* Text */
  --color-text: #2d2d2d;
  /* Secondary text (subtle, lighter gray) */
  --color-text-secondary: #6b7280;

  /* Main Brand Colors */
  --color-primary: #3b82f6;
  --color-secondary: #e2e8f0;

  /* Highlights / Accents */
  --color-accent: #10b981;

  /* Status Colors */
  --color-success: #16a34a;
  --color-fail: #dc2626;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
  background: var(--color-bg);

  display: flex;
  flex-direction: column;
}
